#osx
.DS_Store
#idea projects
.idea/
target/
.ipynb_checkpoints/
__pycache__/
#mvn
target/
#gradle
.gradle
**/build/
!src/**/build/
#avoid gradle-wrapper.jar ignoring
!gradle-wrapper.jar
.gradletasknamecache
